<div class="container">
  
  <!-- TITLE -->
  <div class="col-md-12"> 
    <h2> <%= "##{@hack.id}.  #{@hack.title}" %></h2>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#hack1" data-toggle="tab">Hack</a></li>
    <li><a href="#code1" data-toggle="tab">Code</a></li>
    <!-- <li><a href="#html" data-toggle="tab">HTML</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- RESULTS TAB -->
    <div class="tab-pane active" id="hack1">
      
      <!-- HTML FOR ENTRY HERE -->
      <div class="style-container"> <!-- TRYING TO USE THIS DIV TO CONTAIN STYLES TO ONLY APPLY WITHIN -->
        <%= @hack.html_render %>
      </div>
      <!-- CSS FOR ENTRY HERE -->
        <style>
          <%= @hack.css %>
        </style>
    </div>
    
    <!-- CODE TAB -->
    <div class="tab-pane" id="code1">
      <div class="col-md-6 code"> 
        <h4> CSS </h4>
        <pre class="prettyprint"> 
          <%=@hack.css %>
        </pre>
      </div>
      <div class="col-md-6 code"> 
        <h4> HTML </h4>
        <pre class="prettyprint"> 
          <%=@hack.html_display %>
        </pre>
      </div>
    </div>

  </div>
</div>

<!-- JS FOR TABS -->
<script>
  $('#myTab a[href="#hack1"]').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#myTab a[href="#code1"]').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
